#headersite{
    text-align: center;
    background-color: gray;
    width: 1020px;
    height: 80px;
    border: 3px solid black;
    display: flex;
}
.website-logo{
    background-color: red;
    width: 300px;
    height: 70px;
    border: 1px solid black;
    margin-top: 3px;
}
.search-item{
    background-color: red;
    width: 500px;
    height: 50px;
    border: 1px solid black;
    margin-top: 10px;
}
.sabt-nam{
    background-color: red;
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-top: 3px;
    margin-left: 10px;
}
#line2{
    margin-top: 3px;
    width: 1020px;
    height: 80px;
    text-align: center;
    display: flex;
}
.menu-line{
    background-color: rgb(12, 190, 65);
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-right: 50px;
}
#special-menu{
    background-color: blue;
    text-align: center;
    width: 1020px;
    height: 200px;
    border: 1px solid black;
    font-size: xx-large;
}