<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>طرح سایت</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/Assesst/Css/maincss.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div id="headersite">
            <div class="website-logo">لوگو وبسایت</div>
            <div class="search-item">نوار جستجو</div>
            <div class="sabt-nam">ثبت نام</div>
        </div>
        <div id="line2">
            <div class="menu-line">منو</div>
            <div class="menu-line">محصول 1</div>
            <div class="menu-line">محصول 2</div>
            <div class="menu-line">محصول 3</div>
            <div class="menu-line">محصول 4</div>
            <div class="menu-line">محصول 5</div>
            <div class="menu-line">سوال</div>
            <div class="menu-line">پیشنهاد</div>
        </div>
        <h1 style="text-align: center;">محصولات ویژه</h1>
        <div id="special-menu">
            اسلایدر
        </div>
    </header>
</body>
</html>